<div class="container">
    <table class="table align-middle table-striped table-hover table-bordered rounded">
        <thead>
          <tr>
            <th scope="col">Product</th>
            <th scope="col">Desc</th>
            <th scope="col">Price</th>
            <th scope="col">Unit</th>
            <th scope="col">Total</th>
            <th scope="col">Add/Del</th>
          </tr>
        </thead>
        <tbody>
        <!-- table row to get duplicated -->
          <tr>
            <td class="col-md-2 text-wrap">
                <div style="width:18rem;">
                    <div class="row g-0">
                        <div class="col-md-6">
                        <img src="https://i.pinimg.com/236x/a3/ac/1e/a3ac1ed5abaedffd9947face7901e14c.jpg" class="img-fluid rounded-start" alt="..." style="height:8rem;object-fit: contain;">
                        </div>
                        <div class="col-md-6">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                        </div>
                    </div>
                </div>
            </td>
            <td class="col text-wrap">Mark</td>
            <td class="col text-wrap">Otto</td>
            <td class="col text-wrap">@mdo</td>
            <td class="col text-wrap">Mark</td>
            <td class="col text-wrap">
                <div>
                    <button class="btn btn-danger me-2"><i class="fa-solid fa-trash-can"></i></button>
                    <button class="btn btn-success"><i class="fa-solid fa-cart-plus"></i></button>
                </div>
             </td>
          </tr>
        <!-- table row to get duplicated -->
        </tbody>
        <tfoot>
    
        </tfoot>
      </table>
</div>