<div class="container">
    <div class="row mt-3 justify-content-evenly">
        <!-- div to get looped -->
        <div class="card text-center ms-1 me-1 mb-2" style="width: 18rem;" *ngFor="let item of productList">
            <img src="{{item.image}}" class="card-img-top mt-2 image" alt="...">
            <div class="card-body">
                <h5 class="card-title desc">{{item.title}}</h5>
              <p class="card-text desc">{{item.description}}</p>
            </div>
            <a class="btn btn-warning mb-2">Add to Cart <i class="fa-solid fa-cart-plus"></i></a>
        </div>
        <!-- div to get looped -->
    </div>
</div>
